*{
	font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
p, b{
    font-size: 1.6rem;
}
h1 {
	font-size: 4.8rem;
	line-height: 50px;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
    color: #bd9e6f;
	font-size: 4.0rem;
	line-height: 3.8rem;
	font-weight: bold;
	margin: 0;
    margin-bottom: 2rem;
    text-align: center;
}

h3 {
	font-size: 3.0rem;
	line-height: 3.2rem;
	font-weight: bold;
	margin: 0;
}


h4 {
	font-size: 2.4rem;
	line-height: 2.6rem;
	font-weight: bold;
	}

h5 {
	font-size: 2.0rem;
	line-height: 2.2rem;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
    text-align: start;
}

h6 {
	font-size: 1.7rem;
	line-height: 2rem;
	font-weight: bold;
	margin: 0;
	margin: .2rem 0;
	text-decoration: none;
}

.menu{
	width: 100%;
	height: 8vh;
	background-color: #000;
	position: fixed;
	top: 0;
	z-index: 999999;
}
.menu_lista{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.menu_lista a{
	margin: 0 2.5rem;
	align-self: center;
	font-size: 2rem;
	color: white;
}
.menu_lista a:hover{
	color: #e1cdb2;
}
.banner{
	margin-top: 8vh;
	height: 93vh;
	background:url(img/banner.jpg) 50% no-repeat;
	background-size: cover;
	text-align: center;
}
.abouts{
    margin-top: -5rem;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-items: center;
}

#img_sobre{
	width: 50%;
	display: flex;
	justify-content: center;
}
#sobre_hotel{
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-self: center;
	padding: 0 2%;
}


.gastronomia{
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#gastronomia_text{
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-self: center;
	padding: 0 5%;
}
#gastronomia_img{
	width: 50%;
	display: flex;
	justify-content: center;
}

.servicios{
	display: flex;
	justify-content: center;
	margin: 4rem 0;
}

.servicios_uno{
	width: 33%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 4rem;
}
.servicios_dos{
	width: 33%;
	display: flex;
	flex-wrap: wrap;
	/* flex-direction: column; */
	justify-content: center;
}
.servicios_dos img{
	width: 35rem;
}
.servicios_tres{
	width: 33%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 4rem;
}

.vive_convencion{
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.vive_convencion--texto{
	margin-bottom: 1rem;
}
.vive_convencion--texto h2{
	text-align: center;
}
.vive_convencion--texto p{
	text-align: center;
}

.hospedados{
	padding-top: 1rem;
	flex-wrap: wrap;
}
.hospedados h2{
	text-align: center;
}
.fila1{
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}
.sencilla__lux{
	width: 33%;
	padding: 0 3rem;
}
.doble__lux{
	width: 33%;
	padding: 0 3rem;
}
.extra{
	padding: 0 3rem;
	width: 33%;
}
.fila2{
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}
.sencilla__premium{
	width: 33%;
	padding: 0 3rem;
}
.doble__premium{
	width: 33%;
	padding: 0 3rem;
}
.menor{
	padding: 0 3rem;
	width: 33%;
}
.no__hospedados{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 3rem;
}


@media(max-width: 720px){
    .menu_lista a{
        margin: 0 1rem;
        font-size: 1.4rem;	
    }
    .banner{
		background:url(img/banner-cel.png) 50% no-repeat;
		width: 100%;
		/* height: 93vh; */
		background-size: cover;
	}
    #img_sobre{
		width: 100%;
		text-align: center;
		margin-top: 2rem;
		order: 2;
	}
	#img_sobre img{
		width:30rem;		
	}
	#sobre_hotel{
		order: 1;		
		text-align: justify;
		width: 100%;
	}
    
	#gastronomia{
		width: 100%;
	}
	#gastronomia_text{
		text-align: justify;
		width: 100%;
	}

	#gastronomia_img img{
		margin-top: 2rem;
		width:30rem;
	}

	.servicios{
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.servicios_uno{
		width: 100%;
		/* order: 1; */
	}
	.servicios_dos{
		width: 100%;
		margin: 5rem 0;
		/* order: 2; */
	}
	.servicios_dos img{
		width: 30rem;
	}

	.servicios_tres{
		width: 100%;
		/* order: 3; */
	}

	.fila1{
	flex-direction: column;
	padding-bottom: 0;
	
	}
	.sencilla__lux{
		width: 100%;
		margin-bottom: 5rem;
	}
	.doble__lux{
		width: 100%;
		margin-bottom: 5rem;
	}
	.extra{
		/* padding: 0 3rem; */
		width: 100%;
		margin-bottom: 5rem;
	}
	
	.fila2{
		flex-direction: column;
		margin: 0;
		padding-top: 0;
	}
	.sencilla__premium{
		width: 100%;
		margin-bottom: 5rem;
	}
	.doble__premium{
		width: 100%;
		margin-bottom: 5rem;
	}
	.menor{
		width: 100%;
		margin-bottom: 5rem;
	}
	.no__hospedados{
		padding: 4rem;
	}

	.carousel img{
		width: calc(100% / 2);
	}
}
@media(max-width: 500px){
    .menu_lista a{
        margin: 0 1rem;
        font-size: 1.2rem;	
    }
    .banner{
		background:url(img/bannercel2.png) 50% no-repeat;
		width: 100%;
		/* height: 93vh; */
		background-size: cover;
	}
    
}

